/* body{
    background-color:lightgrey;
    padding-bottom:900px
} */
html,body {
    min-height:100vh;
    background-color:lightgrey;
    padding:0;
}
#layerBackground{
    background-color:lightsteelblue;
    margin-bottom:100%;
    padding-bottom:40%;
}
#formInstructor {
    margin-top: -10px;
    color:pink;
    font-size:70px;
    margin-bottom:-0.0050em;
    font-family:Arial, Helvetica, sans-serif;
    outline:90px;
    outline-color:black;
}
/* #confirm {
    margin-bottom: 0px;
    margin-top: -5px;
    float: center;
    box-sizing: border-box;
} */
#confirmer{
    margin-left:617px;
    margin-top:-200px;
}
#confirm {
    font-size:7em;
    /* margin-left:1.75em; */
    text-align:center;
  }
.inputs {
    font-family:arial;
    margin-left:-0.38em;
    text-align:center;
    color:white;
    outline:0px;
    background-color:lightpink;
    text-decoration:dotted;
    padding-top:60px;
    padding-bottom:60px;
    padding-left:22.5px;
    padding-right:22.5px;
}
.Months {
    padding-bottom:23%;
    background-color:aliceblue;
    /* margin-left:30%;
    margin-right:0%; */

    border-radius: 70px;
    column-count: 7;
    column-gap: 40px;
    row-gap: 40px;
    display:grid; 
    grid-template-columns: 35px 35px 35px 35px 35px 35px 35px;
    align-items: center;
}
.yearview {
    column-count: 2;
    column-gap: 200px;
}
button {
    padding-left:30px;
    padding-right:30px;
    margin-left:0px;
    margin-top: 30px;
    margin-bottom:-40px;
}
#outeredge{
    margin-left:400px;
    margin-right:400px;
}